@model ApniShopWebAssignment.Models.OTable

@{
    ViewBag.Title = "OrderNow";
}

<br />
<br />
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap" rel="stylesheet">
</head>
<div class="row" style="        margin: auto;
        width: 40%;
        border: 10px solid rgb(128, 0, 128);
        padding: 10px;
        background: white;
        font-family: 'Public Sans', sans-serif;
">
    <div style="margin: auto; width: 50%; padding: 10px; ">
        <div class="card">
            <div class="card-header">
                <h2 style="text-align: center;">Order Placement</h2>
                <br>
            </div>

            <div class="card-body">
                @using (Html.BeginForm("SaveOrderDetails", "Product", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group" style="text-align: center;">
                                <h4>Product ID</h4>
                                @Html.EditorFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                           
                        </div>

                        <div class="form-group" style="text-align: center;">
                                <h4>Customer ID</h4>
                                @Html.EditorFor(model => model.CustomerID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                         
                        </div>

                        <div class="form-group" style="text-align: center;">
                                <h4>Order Date</h4>
                                @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                           
                        </div>

                        <div class="form-group" style="text-align: center;">
                                <h4> Order Address</h4>
                                @Html.EditorFor(model => model.OrderAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OrderAddress, "", new { @class = "text-danger" })
                          
                        </div>

                        <div class="form-group" style="text-align: center;">
                                <h4>City</h4>
                                @Html.EditorFor(model => model.OrderCity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OrderCity, "", new { @class = "text-danger" })
                  
                        </div>

                        <div class="form-group" style="text-align: center;">
                            <h4>PostalCode</h4>
                                @Html.EditorFor(model => model.OrderPostalCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OrderPostalCode, "", new { @class = "text-danger" })
                           
                        </div>

                        <div class="form-group" style="text-align: center;">
                    
                                @Html.EditorFor(model => model.OrderCountry, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OrderCountry, "", new { @class = "text-danger" })
                    
                        </div>

                        <div class="form-group" style="text-align: center;">
                                <h4>Shipping Service</h4>
                                @Html.EditorFor(model => model.ShippingServiceName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShippingServiceName, "", new { @class = "text-danger" })
                       
                        </div>

                        <div class="form-group" style="text-align: center;">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Order Now" class="btn btn-primary btn-lg" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <style>
        .form-control {
            border: 0px none;
        }
    </style>
